streamlit
langchain
langchain-core
langchain-community
PyPDF2
pandas
faiss-cpu
wikipedia
sentence-transformers
transformers
huggingface-hub
nest_asyncio
google-generativeai
langchain-google-genai
supabase-py
