
streamlit
langchain==1.2.8
langchain-core
langchain-community
langchain-text-splitters
PyPDF2
pandas
faiss-cpu
wikipedia
sentence-transformers
transformers
huggingface-hub
nest_asyncio
google-generativeai
langchain-google-genai
supabase
